KinetisSDK/doc/*
KinetisSDK/lib/*
KinetisSDK/middleware/*
KinetisSDK/platform/*
KinetisSDK/rtos/*
KinetisSDK/tools/*
KinetisSDK/usb/*
KinetisSDK/utilities/*
KinetisSDK/*.xml
KinetisSDK/*.htm
KinetisSDK/*.txt

matlab/simulate.zip
