KinetisSDK/doc/*
KinetisSDK/lib/*
KinetisSDK/middleware/*
KinetisSDK/platform/*
KinetisSDK/rtos/*
KinetisSDK/tools/*
KinetisSDK/usb/*
KinetisSDK/utilities/*
KinetisSDK/*.xml
KinetisSDK/*.htm
KinetisSDK/*.txt

tag_l152c8t6a/MDK-ARM/JLinkLog.txt

*.mat
*.o
*.d
